#chatbox {
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

#chatlog {
  overflow-y: scroll;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.sent {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: right;
}

.received {
  background-color: #cbfd41;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
}

#input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#chatinput {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#sendbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#sendbutton:hover {
  background-color: #0069d9;
}
